ENV=development
API_SECRET_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS=
ROBOFLOW_API_KEY=
ROBOFLOW_PROJECT=football-players-detection-3zvbc
ROBOFLOW_VERSION=9
ENABLE_EXPERIMENTAL_ANALYTICS=false
ALLOWED_ORIGINS=http://localhost:3000
FRAME_SUBSAMPLE=5
PIPELINE_WORKERS=2
